body {
  background-color: #F6EDD2;
}

/* color palette */
#c1 {
  background-color: #2B2922;
  color: #FFFFFF;
}

#c2 {
  background-color: #A72500;
}

#c3 {
  background-color: #DC7A23;
}

#c4 {
  background-color: #F6EDD2;
}

#c5 {
  background-color: #FFFFFF;
}

#c6 {
  background-color: #003446;
  color: #FFFFFF;
}

div {
  height: 120px;
  width: 120px;
  display: inline-block;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 14px;
  vertical-align: middle;
  display: table-cell;
}

/* text */
h1, h2, h3, h4, h5, h6, .highlight {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: #003446;
}

h3 {
  color: #A72500;
}

h4, .highlight {
  color: #DC7A23;
}

ul, .data {
  font-family: Helvetica, Arial, sans-serif;
  color: black;
}

p {
  font-family: Times, Georgia, serif;
  color: #003446;
}

.caption {
  color: #2B2922;
  font-style: italic;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin-top: -12px;
}
